
body {
    color: #908f8d;
}

h2 {
    text-transform: uppercase;
    color: #fff !important;;
}

header {
    position: sticky !important;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 999; /* Set a higher value here */
}

.navbar a {
    color: #fff;
}

.navbar a:hover {
    color: #ddd;
}

.active {
    background-color: #fff !important;
    color: #222 !important;
}

.nav-link {
    text-align: center;
}

/* home page */

.background-home {
    background-image: url("img/wallp-1.png");
    height: 900px;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-panel {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-panel h2, span {
    overflow-wrap: break-word;
    width: 800px;
}

/* sections */

section {
    padding-top: 20vh;
    background-color: #171818;
}

#home {
    padding-top: 0 !important;
}

/* articles */

.card {
    background-color: #eee;
    padding: 10px;
}

.card img {
    height: 20em !important;
    object-fit: cover;
}

/* mural */

.mural h2 {
    margin-right: .5em;
}

.mural-sub-item img {
    cursor: pointer;
    padding: 2px;
    border: 2px solid #171818; /* Initial border */
    transition: border-color 0.3s;
    height: 130px;
    /* width: 90px !important; */
    object-fit: cover;
}

/* .row > .mural-sub-item {
    width: auto;
} */

.mural-sub-item img:hover {
    border: 2px solid #fff;
}

/* showcase */

/* .sign-up p {
    font-size: 20px;
} */

.read-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.read-more h2 {
    font-size: 35px;
}

.read-more p {
    width: 700px;
    overflow-wrap: break-word;
    font-size: 13px;
    text-align: right;
}

.carousel-inner {
    object-fit: cover;
    height: 300px;
}

.container-circle {
    display: flex;
    justify-content: flex-end;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #bbb;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    /* margin: 10px 10px 0 auto ; */
}

.circle a {
    text-decoration: none;
    color: #bbb;
    font-size: 12px;
}

.auteur-quote img {
    height: 20em;
}

.auteur-photos img {
    height: 22em;
}

/* sign-up modal */

/* .sign-up-img img {
    height: 250px;
    object-fit: cover;
} */

/* .muted-text {
    color: #555;
} */

.captcha {
    display: flex;
    background-color: #111;
    border-radius: 5px;
    height: 60px;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.captcha img {
    height: 30px;
}

.captcha p {
    color: #fff;
    align-items: center;
}

.terms a {
    color: white;
    text-decoration: none;
}

form input {
    background-color: #171818 !important;
    border: 1px solid #111 !important;
    color: #fff !important;
}


@media screen and (max-width: 767px) { /* conversão layout fixo para responsivo */

    #home {
        height: 100vh;
    }

    #home h2, p, span {
        max-width: 400px;
    }

    #mural .row>*{
        width: auto !important;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    


}

@media screen and (min-width: 1024px) {

    

}

