
body {
    color: #908f8d;
}

header {
    position: sticky !important;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 999; /* Set a higher value here */
}

.navbar a {
    color: #fff;
}

.navbar a:hover {
    color: #ddd;
}

.active {
    background-color: #fff !important;
    color: #222 !important;
}

.nav-link {
    text-align: center;
}

/* home page */

.background-home {
    background-image: url("img/wallp-1.png");
    height: 900px;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-panel {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-panel h2, span {
    overflow-wrap: break-word;
    width: 800px;
}

/* sections */

section {
    padding-top: 20vh;
    background-color: #171818;
}

#home {
    padding-top: 0 !important;
}

/* articles */

.card {
    background-color: #eee;
    padding: 10px;
}

.card img {
    height: 20em !important;
    object-fit: cover;
}

/* mural */

.mural-sub-item img {
    cursor: pointer;
    padding: 2px;
    border: 2px solid #222; /* Initial border */
    transition: border-color 0.3s;
    height: 130px;
    width: 90px;
    object-fit: cover;
}

.produto-sub-item img:hover {
    border: 2px solid #1aba37;
}

/* showcase */

